#sidebar {
    min-height: 100%;
}

#potrait {
    width: $potrait-size;
    height: $potrait-size;
    border-radius: ( $potrait-size / 2) + 1;
}

.page-header {
    border: 0;
}

.site-header {
    a:hover, a:visited, a:link, a:active
    {
        color: black;
        text-decoration: none;
    }
}

.potrait {
    margin-bottom: 20px;
}

.site-title, .tagline {
    a {
        text-decoration: none;
    }
}

.tagline {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 12px;
    color: #9B9B9B;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.site-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    line-height: 61.2px;
    font-size: 46px;
    margin-bottom: 10px;
}

#lg-menu {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 2px;
    .page-link {
        color: black;
        text-transform: uppercase;
    }
    .project-link {
        color: #B5B3B3;
        text-transform: none;
        font-weight: 300;
    }
    a.active, a.proj-active {
        color: #E67D3F;
    }
    a.proj-active {
        font-weight: bold;
    }
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
    @media screen and (max-width: 768px) {
        .row-offcanvas {
            position: relative;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }

        .row-offcanvas-left.active {
            left: 33%;
            .sidebar-offcanvas {
                left: -33%;
                position: absolute;
                top: 0;
                width: 33%;
                margin-left: 5px;
            }
        }

        #sidebar, #sidebar a, #sidebar-footer a {
            padding-left:3px;
        }
    }
