$story-content-padding-hor: 6%;
$story-content-padding-ver: 20px;
$story-single-margin-ver: 70px;

.story {
    .clearfix {
        margin-bottom: $story-single-margin-ver;
    }

    .story-content {
        padding-top: $story-content-padding-ver;
        padding-left: $story-content-padding-hor;
        padding-right: $story-content-padding-hor;
    }

    img {
        zoom: 2;
        width: 100%;
    }
}
