<div>
    {%- assign default_paths = site.pages | sort: 'order' | map: "path" -%}
    {%- assign page_paths = site.header_pages |  default: default_paths -%}

    {%- if page_paths -%}
    <nav>
        <div class="lg-menu-container col-md-8 col-md-offset-3">
            <ul class="nav hidden-xs" id="lg-menu">
                {%- for path in page_paths -%}
                    {%- assign my_page = site.pages | where: "path", path | first -%}
                    {%- if my_page.order -%}
                        <li group="page-title">
                            <a class="page-link {% if page.url == my_page.url %} proj-active{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                        </li>
                        {%- if my_page.title == "Projects" -%}
                            {%- assign projects = site.projects | sort: 'order' -%}
                            {%- for project in projects -%}
                                <li group="project-title">
                                    <a class="project-link {% if page.url == project.url %} active{%- endif -%}" href="{{ project.url }}">{{ project.title }}</a>
                                </li>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>

            <ul class="nav visible-xs" id="xs-menu">
                {%- for path in page_paths -%}
                    {%- assign my_page = site.pages | where: "path", path | first -%}
                    {%- if my_page.title -%}
                        {%- if page.url == my_page.url -%}
                            <li group="page-short-title">
                                <a class="page-link active" href="{{ my_page.url | relative_url }}">{{ my_page.title | slice: 0 }}</a>
                            </li>
                        {%- else -%}
                            <li group="page-short-title">
                                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | slice: 0 }}</a>
                            </li>
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </nav>
    {%- endif -%}

</div>
