<div>
    {%- assign default_paths = site.pages | sort: 'order' | map: "path" -%}
    {%- assign page_paths = site.header_pages |  default: default_paths -%}

    {%- if page_paths -%}
    <nav>
        <div class="lg-menu-container col-md-8 col-md-offset-3">
            <ul class="nav hidden-xs" id="lg-menu">
                {%- for path in page_paths -%}
                    {%- assign my_page = site.pages | where: "path", path | first -%}
                    {%- if my_page.order -%}
                        <li group="page-title">
                            <a class="page-link {% if page.url == my_page.url %} proj-active{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                        </li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    </nav>
    {%- endif -%}

</div>
