@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab|Dancing+Script');

@import "bootstrap";

// Define defaults for each variable.

$base-font-family: "Roboto", Helvetica, Arial, sans-serif !default;
$base-font-size:   15px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.53 !default;

$white-color:      #FFF !default;
$black-color:      #000 !default;

$text-color:       $black-color !default;
$background-color: $white-color !default;

$potrait-size: 115px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

@import "theme/base";
@import "theme/sidebar";
@import "theme/story";
@import "theme/project_details";
