<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body>
        <div class="site-container">
            <div class="box">
            <div class="row row-offcanvas row-offcanvas-left" id="site-content">
                <div id="navigation-button" class="visible-xs"><a href="#" data-toggle="offcanvas" class="text-center"><img src="/assets/images/right_arrow.png" /></a></div>
                <!-- Sidebar -->
                <div class="column col-sm-3 hidden-xs sidebar-offcanvas text-center nopadding" id="sidebar">
                    {%- include header.html -%}
                    {%- include sidebar.html -%}
                </div>
                <!-- Main content -->
                <main id="main-content" class="column col-sm-9 col-xs-12">
                {{ content }}
                </main>
            </div>
            </div>
        </div>

        <script>
            var myitem = document.getElementById("sidebar");
        // creates a global "addWheelListener" method
        // example: addWheelListener( elem, function( e ) { console.log( e.deltaY ); e.preventDefault(); } );
        (function(window,document) {

            var prefix = "", _addEventListener, support;

            // detect event model
            if ( window.addEventListener ) {
                _addEventListener = "addEventListener";
            } else {
                _addEventListener = "attachEvent";
                prefix = "on";
            }

            // detect available wheel event
            support = "onwheel" in document.createElement("div") ? "wheel" : // Modern browsers support "wheel"
                document.onmousewheel !== undefined ? "mousewheel" : // Webkit and IE support at least "mousewheel"
                "DOMMouseScroll"; // let's assume that remaining browsers are older Firefox

            window.addWheelListener = function( elem, callback, useCapture ) {
                _addWheelListener( elem, support, callback, useCapture );

                // handle MozMousePixelScroll in older Firefox
                if( support == "DOMMouseScroll" ) {
                    _addWheelListener( elem, "MozMousePixelScroll", callback, useCapture );
                }
            };

            function _addWheelListener( elem, eventName, callback, useCapture ) {
                elem[ _addEventListener ]( prefix + eventName, support == "wheel" ? callback : function( originalEvent ) {
                    !originalEvent && ( originalEvent = window.event );

                    // create a normalized event object
                    var event = {
                        // keep a ref to the original event object
                        originalEvent: originalEvent,
                        target: originalEvent.target || originalEvent.srcElement,
                        type: "wheel",
                        deltaMode: originalEvent.type == "MozMousePixelScroll" ? 0 : 1,
                        deltaX: 0,
                        deltaY: 0,
                        deltaZ: 0,
                        preventDefault: function() {
                            originalEvent.preventDefault ?
                                originalEvent.preventDefault() :
                                originalEvent.returnValue = false;
                        }
                    };

                    // calculate deltaY (and deltaX) according to the event
                    if ( support == "mousewheel" ) {
                        event.deltaY = - 1/40 * originalEvent.wheelDelta;
                        // Webkit also support wheelDeltaX
                        originalEvent.wheelDeltaX && ( event.deltaX = - 1/40 * originalEvent.wheelDeltaX );
                    } else {
                        event.deltaY = originalEvent.deltaY || originalEvent.detail;
                    }

                    // it's time to fire the callback
                    return callback( event );

                }, useCapture || false );
            }

        })(window,document);


        var scrollableDiv = document.querySelector('#main-content');
        addWheelListener( myitem, function( e ) { 
            scrollableDiv.scrollTop += e.deltaY * 40;});

        </script>  
    </body>
</html>
