---
layout: default
---
<a name="top"></a>
<div class="row">
    <div class="col-lg-offset-1 col-lg-10 text-center me">
        <div class=".me-header">
            <h1>Hi! I'm Rahul</h1>
            <p class="subtitle">I <a href="#">work</a>, <a href="#">play</a>, and
                <a href="#">smile everyday</a>.</p>
            <p class="current-details">
                Currently a Ph.D in Machine Learning at
                <a href="#">GeorgiaTech <img src="./assets/images/gt_logo.png" /></a>, 
                working in the
                <a href="https://flair.ae.gatech.edu/" target="_blank">FLAIR Lab.</a></p>
            <div class="social-list">
                <p><a href="https://scholar.google.com/citations?user=HF_VfkMAAAAJ&hl=en" target="_blank">
                <img src="./assets/images/googleScholar.png" alt="Go to Google Scholar"></a>
                <a href="https://www.researchgate.net/profile/Rahul_Singh187" target="_blank">
                <img src="./assets/images/researchGate.png" alt="Go to Research Gate"></a>
                <a href="https://www.linkedin.com/in/rahul-singh-17463939/" target="_blank">
                <img src="./assets/images/Linkedin.png" alt="Go to LinkedIn"></a></p>
            </div>
        </div>
        <div class="paper-section">
            <div class="abstract">
                <div class="col-sm-2 paper-section-heading"><strong>Abstract</strong></div>
                <div class="col-sm-10 paper-section-content">
                    As a diversely skilled academic, my research interests span X, Y, and Z fields. 
                    I have been actively invested in these fields since my time at Iowa state.
                    <a href="#">Undergrad College</a>.
                </div>
            </div>
        </div>
        <div class="paper-section">
            <div class="introduction">
                <div class="col-sm-2 paper-section-heading"><strong>Introduction</strong></div>
                <div class="col-sm-10 paper-section-content">
                    As a diversely skilled academic,
                    my research interests span X, Y, and Z fields. I have been actively invested in
                    these fields since my time at <a href="#">Undergrad College</a>.
                </div>
            </div>
        </div>
        <div class="paper-section">
            <div class="india">
                <div class="col-sm-2 paper-section-heading"><strong>India</strong></div>
                <div class="col-sm-10 paper-section-content">
                    As a diversely skilled academic, my research interests span X, Y, and Z fields. 
                    I have been actively invested in these fields since my time at Iowa state.
                    <a href="#">Undergrad College</a>.
                </div>
            </div>
        </div>
        <div class="paper-section">
            <div class="personal">
                <div class="col-sm-2 paper-section-heading"><strong>Personal</strong></div>
                <div class="col-sm-10 paper-section-content">
                    As a diversely skilled academic, my research interests span X, Y, and Z fields. 
                    I have been actively invested in these fields since my time at Iowa state.
                    <a href="#">Undergrad College</a>.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <table summary="Table for page layout." id="tlayout">
    <tr valign="top">
    
    <td id="layout-content">
    <h1>Rahul Singh</h1>
    <table class="imgtable"><tr><td>
    <img src="images/rahul.jpg" height= 200, alt="Rahul Singh" />&nbsp;</td>
    <td align="left"><p>PhD in Machine Learning (ongoing) <br />
    <a href="https://flair.ae.gatech.edu/" target="_blank">FLAIR Lab </a>  <br />
    Georgia Institute of Technology <br />
    Atlanta, GA, USA.<br /></p>
    <p><b>Email:</b> rasingh[AT]gatech[DOT]edu / rahulsinghchandraul[AT]gmail[DOT]com <br /><br /></p>
    <p><a href="https://scholar.google.com/citations?user=HF_VfkMAAAAJ&hl=en" target="_blank">
    <img src="googleScholar.png" alt="Go to Google Scholar" style="border-style: none" width="30" height="30">&nbsp;</a>
    <a href="https://www.researchgate.net/profile/Rahul_Singh187" target="_blank">
    <img src="researchGate.png" alt="Go to Research Gate" style="border-style: none" width="30" height="30">&nbsp;</a>
    <a href="https://www.linkedin.com/in/rahul-singh-17463939/" target="_blank">
    <img src="Linkedin.png" alt="Go to LinkedIn" style="border-style: none" width="30" height="30">&nbsp;</a></p>
    </td></tr></table>
    <h1>Biography</h1>
    <p><b>PhD</b> (August 2018 - Present) <br />
    <b>Major:</b> Machine Learning <br />
    Georgia Institute of Technology <br />
    Atlanta, GA, USA.<br />
    <b>Advisor:</b> <a href="http://yongxin.ae.gatech.edu/" target="_blank">Dr. Yongxin Chen</a>, <br \></p>
    <p><b>Master of Engineering</b> (December 2018) <br />
    <b>Major:</b> Electrical Engineering <br />
    <a href="https://www.ece.iastate.edu/" target="_blank">Iowa State University</a> <br />
    Ames, IA, USA.<br />
    <b>Advisor:</b> <a href="http://yongxin.ae.gatech.edu/" target="_blank">Dr. Yongxin Chen</a>, <br \></p>
    <p><b>Master of Technology</b> (July 2015) <br />
    <b>Major:</b> Digital Signal Processing <br />
    <a href="https://www.iist.ac.in/" target="_blank">Indian Institute of Space Science and Technology (IIST)</a> <br />
    Thiruvananthapuram, Kerala, India.<br />
    <b>Advisor:</b> <a href="https://scholar.google.co.in/citations?user=sKXlchMAAAAJ&hl=en" target="_blank">Dr. B. S. Manoj</a> <br \></p>
    <p><b>Bachelor of Technology</b> (July 2011) <br />
    Department of Electronics and Telecommunication Engineering <br \>
    <a href="http://www.kiit.ac.in//" target="_blank">KIIT University, Bhubaneswar, Orissa, India.</p>
    <div id="footer">
    <p><img src="images/copyleft.png" height="14" width="14"><span>&nbsp;Rahul Singh</span></p>
    </div>
    </td>
    </tr>
    </table>
-->