---
layout: default
---

<link rel="stylesheet" href="../assets/projects.css">

{%- assign projects = site.projects | sort: 'order' -%}
<section class="row project-cover" id="projects">
{%- for project in projects -%}
    <div class="col-sm-6 col-xs-12 single-project" {% if project.img-width %}style="clip-path: polygon(0 0, 100% 0, 100% {{ project.img-width }}%, 0 {{ project.img-width }}%);"{% endif %} >
        <div class="hovereffect">
            <img src="{{ project.image }}" alt="" class="img-responsive cover-image" />
            <a href={{ project.url }}>
                <div class="overlay">
                    <div class="info-container">
                        <!-- span class="height-correction"></span --><h1>{{ project.title }}</h1>
                        <div class="info">
                            <h2>{{ project.list-subtitle }}</h2>
                            <p>{{ project.list-summary }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {%- endfor -%}
</section>
