---
layout: default
---

{%- assign stories = site.stories | sort: 'order' -%}
{%- for story in stories -%}
<div class="panel" id="{{ story.title | camelcase }}">
    <a data-toggle="collapse" href=".multcoll-{{ story.title | camelcase }}"><div class="panel-heading">{{ story.title }}</div></a>
    <div class="multcoll-{{ story.title | camelcase }} panel-body collapse in">{{ story.short-text | markdownify }}</div>
    <div class="multcoll-{{ story.title | camelcase }} panel-body collapse">{{ story.content }}</div>
</div>
{%- endfor -%}

<div class="row">
    {%- assign stories = site.stories | sort: 'order' -%}
    {%- for story in stories -%}
    <div class="clearfix">
        {%- assign classname = story.title | camelcase -%}
        <a data-toggle="collapse" href=".{{ classname }}">
            <div class="{{ classname }} nopadding collapse in">
                <div class="col-sm-4 {% cycle '','col-sm-push-8' %} nopadding">
                    <img src="http://placehold.it/600x300" class="img-responsive">
                </div>
                <div class="col-sm-8 {% cycle '','col-sm-pull-4' %}">
                    <h1>Sample heading</h1>
                    <p>{{ story.short-text | markdownify }}</p>
                </div>
            </div>
            <div class="{{ classname }} noapdding collapse">
                <div class="col-sm-12">
                    <p>{{ story.content }}</p>
                </div>
            </div>
        </a>
    </div>
    {%- endfor -%}
</div>
