---
layout: default
---

<div class="panel-group">
    <div class="panel panel-default">
        <a data-toggle="collapse" href=".revcoll"><div class="panel-heading">Heading</div></a>
        <div class="revcoll panel-body collapse in" id="bd1">This is the content of the panel1</div>
        <div class="revcoll panel-body collapse" id="bd2">This is the new content of the panel1</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Heading</div>
        <div class="panel-body">This is the content of the panel2</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Heading</div>
        <div class="panel-body">This is the content of the panel3</div>
    </div>
</div>

{% assign stories = site.stories | sort: 'order' %}
{% for story in stories %}
    <div class="panel" id="{{ story.title | camelcase }}">
        <a data-toggle="collapse" href=".multcoll-{{ story.title | camelcase }}"><div class="panel-heading">{{ story.title }}</div></a>
        <div class="multcoll-{{ story.title | camelcase }} panel-body collapse in">{{ story.short-text | markdownify }}</div>
        <div class="multcoll-{{ story.title | camelcase }} panel-body collapse">{{ story.content }}</div>
    </div>
{% endfor %}
